*{
    margin: 0;
}
body {
    /* display: flex; */
    flex-wrap: wrap;
    /* background-image: url(activeMockImage.jpg); */
    background-color: black;
}

.topnav {
    display: flex;
    margin: 15px 0 15px 0;
    font-family: 'Montserrat',
    sans-serif;
    overflow: hidden;
}

.topnav > * {
    flex-basis: 100%;
    width: 100%;
    margin-right: 50px;
}

.active {
    width: 94em;
    height: 20px;
    /* z-index: 1; */
}

.play{
    font-family: 'Roboto',
    sans-serif;
    font-size: 1.5em;
    cursor: pointer;
}

.largeImage {
    width: 100%;
    height: 100%;
    z-index: 0;
}

@media only screen and (max-width: 600rem) {
    body {background-color: black;}
}

/* @media only screen and (max-width: 768px) {
    body {background-color: darkred;}
} */