@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

:root {
    --background: black;
    /* --background: red; */
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    /* background-color: black; */
    background-image: url('./image//activeMockImage.jpg');
    background-position: 0 120px;
}

nav {
    font-family: 'Montserrat',
    sans-serif;
    background: var(--background);
    text-align: left;
    width: 100%;
}

.active-logo {
    width: 200px;
    height: 20px;
}


.topnav {
    display: flex;
    margin: 15px 0 15px 0;
    font-family: 'Montserrat',
    sans-serif;
    overflow: hidden;
}

.topnav > * {
    flex-basis: 100%;
    width: 100%;
    margin-right: 50px;
}

.active {
    width: 94em;
    height: 20px;
    /* z-index: 1; */
}

.play{
    font-family: 'Roboto',
    sans-serif;
    font-size: 1.5em;
    cursor: pointer;
}

.largeImage {
    width: 100%;
    height: 100%;
    z-index: 0;
}

@media only screen and (max-width: 600rem) {
    body {background-color: black;}
}

/* @media only screen and (max-width: 768px) {
    body {background-color: darkred;}
} */