@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

:root {
    --background: black;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* margin: 100%; */
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    /* background-color: black; */
    background-image: url('./image//activeMockImage.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: auto;
}
header {
    background: var(--background);
    padding-bottom: 22px;
}

nav {
    font-family: 'Montserrat',
    sans-serif;
    text-align: left;
    position: fixed;
    background: var(--background);
    text-align: left;
    width: 100%;
    /* top: 100%; */
    left: 0;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: gray;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav  {
    display: block;

}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
}

.active-logo {
    width: 200px;
    height: 20px;
}

.call-logo {
    width: 287px;
    height: 87px;
    margin-top: 112px;
    margin-left: 87px;
}

.logo {
    color: #fefefe;
    font-family: 'Montserrat',
    sans-serif;
    font-size: 27px;
    font-weight: lighter;
}

.play-btn {
    margin-top: 250px;
}

.modal {
    display: none;
    position:fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.4);
}

.play-screen-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* .topnav {
    display: flex;
    margin: 15px 0 15px 0;
    font-family: 'Montserrat',
    sans-serif;
    overflow: hidden;
} */

/* .topnav > * {
    flex-basis: 100%;
    width: 100%;
    margin-right: 50px;
} */

/* .active {
    width: 94em;
    height: 20px;
} */

/* .play{
    font-family: 'Roboto',
    sans-serif;
    font-size: 1.5em;
    cursor: pointer;
} */

/* .largeImage {
    width: 100%;
    height: 100%;
    z-index: 0;
} */

@media only screen and (max-width: 600rem) {
    body {background-color: black;}
}

/* @media only screen and (max-width: 768px) {
    body {background-color: darkred;}
} */